# Ignora los archivos de sistema
.DS_Store
*.swp
*~.nib

# Ignora los directorios de compilación
build/

# Ignora los archivos de proyecto referentes a mi usuario
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcuserstate
project.xcworkspace/
xcuserdata/